/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-family: "Rubik Dirt", system-ui;
}

.fondo {
    background-color: #000;
    color: white;
}


.seccion-titulo {
    font-size: 2rem;
    padding: 5px 0px;
    font-family: "Rubik Dirt", system-ui;
}

.seccion-texto {
    font-size: 1.2rem;

}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

/* Contacto */
.contacto .container {
    max-width: 1100px;
    max-height: 250px;
    padding: 20px;

}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(13,110,253);
    border-radius: 10px;
    box-shadow: 0 1px 4px 1px white;
}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: white;
    font-size: 1.2rem;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover {
    background-color: white;
    color: black;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
    color: black;
}


/* Adaptable, responsivo */

/* Control del carrousel en dispositivos inferioes a 800px */
@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }
    .testimonio-texto {
        font-size: 18px;
    }
}

/* Iconos Overlay */
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 25px;
    }
    .overlay i {
        font-size: 45px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
} 


/* Achica la imagen del hero inferior  */
@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}