/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-family: "Rubik Dirt", system-ui;
}

.fondo-oscura {
    background-color: #000;
    color: white;
  }

.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 5px 0px;
    font-family: "Rubik Dirt", system-ui;
}

.seccion-texto {
    font-size: 1.2rem;

}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

/* Footer */
footer {
    min-height: 500px;
}

.footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
    color: black;
}

.autor {
    font-size: 0.8rem;
    color: #aeaeae;
    padding: 20px;
}

/* Adaptable, responsivo */

/* Control del carrousel en dispositivos inferioes a 800px */
@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }
    .testimonio-texto {
        font-size: 18px;
    }
}

/* Iconos Overlay */
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 25px;
    }
    .overlay i {
        font-size: 45px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
} 


/* Achica la imagen del hero inferior  */
@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}
