/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-family: "Rubik Dirt", system-ui;
}

.fondo-evento {
    background-image: url('../Image/fondoUno.png');
    /*background-color: #1b1b32;*/
    
    background-size: cover; /* Ajusta la imagen para que cubra todo el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    width: 100%; /* Ajusta el ancho del div al 100% del contenedor */
    height: 100vh; /* Ajusta la altura del div al 100% de la altura de la ventana */
   
    
    color: white;
}



.seccion-titulo {
    font-size: 2rem;
    padding: 5px 0px;
    font-family: "Rubik Dirt", system-ui;
}

.seccion-texto {
    font-size: 1.2rem;

}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}



/* sobre mi */
.evento {
    height: 500px;
    padding: 10px;
    margin-top: 25px;
}

.evento .contenedor {
    max-width: 600px;
    text-align: center;
    background-color: rgb(0, 0, 0); /* Fondo blanco con transparencia */
    border: 3px solid rgb(254, 254, 254); /* Borde negro semitransparente */
    padding: 20px;
    border-radius: 8px;
    
}
.evento .contenedor h2 {
    font-size: 5em; /* Aumenta el tama침o del h2 */
    margin-bottom: 10px; /* Espacio inferior entre el h2 y el p치rrafo */
}



/* Adaptable, responsivo */

/* Control del carrousel en dispositivos inferioes a 800px */
@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }
    .testimonio-texto {
        font-size: 18px;
    }
}

/* Iconos Overlay */
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 25px;
    }
    .overlay i {
        font-size: 45px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
} 


/* Achica la imagen del hero inferior  */
@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}

/*Achica la fuente del h2  */
@media screen and (min-width: 300px){
    .evento .contenedor h2 {
        font-size: 2em; /* Aumenta el tama침o del h2 */
        margin-bottom: 10px; /* Espacio inferior entre el h2 y el p치rrafo */
    }
}