/* Proyectos */
.proyectos-recientes {
    padding: 40px;

}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;

}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}


/* Adaptable, responsivo */

/* Control del carrousel en dispositivos inferioes a 800px */
@media screen and (max-width: 800px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }
    .testimonio-texto {
        font-size: 18px;
    }
}

/* Iconos Overlay */
@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 25px;
    }
    .overlay i {
        font-size: 45px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
} 


/* Achica la imagen del hero inferior  */
@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}
