/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 3rem;
    font-family: "Rubik Dirt", system-ui;
  }
  
  .fondo-SobreMi {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;
  }
  
  /* Estilos para el video de fondo */
  .video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Estilos de contenido */
  .sobre-mi {
    height: 800px;
    padding: 10px;
  }
  
  .sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.718);
    border: 2px solid #008ec8;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
  }
  
  .sobre-mi .contenedor h2 {
    font-size: 5em;
    margin-bottom: 10px;
  }
  
  .seccion-titulo {
    font-size: 2rem;
    padding: 5px 0px;
    font-family: "Rubik Dirt", system-ui;
  }
  
  .seccion-texto {
    font-size: 1.2rem;
  }
  
  .btn-info {
    font-size: 1.1rem;
    margin: 20px;
  }
  
  .seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
  }
  
  .texto-negro {
    color: black;
  }
  
  .texto-blanco {
    color: white;
  }

  /*Iconos*/
  .wrapper {
    margin: 2rem;
}
.wrapper .button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 3rem;
    overflow: hidden;
    color: #4908fe;
    background: var(--green);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.wrapper .button:hover{
    width: 170px;
}
.wrapper .button .icon{
    display: inline-block;
    padding: 0 1.8rem;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 1.5s ease-out!important;
}

.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
    text-decoration: none;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #333;
    text-decoration: none;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
    text-decoration: none;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #4fc35b;
    text-decoration: none;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color: #fff;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
    color: #fff;
}
.wrapper .button:nth-child(1):hover{
    background-color: #4267B2;
    text-decoration: none;
}
.wrapper .button:nth-child(2):hover{
    background-color: #333;
    text-decoration: none;
}
.wrapper .button:nth-child(3):hover{
    background-color: #E1306C;
    text-decoration: none;
}
.wrapper .button:nth-child(4):hover{
    background-color: #4fc35b;
    text-decoration: none;
}

.titulo .redes-sociales{
    display: none;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid #fff;
    position: absolute;
    left: 49%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #fff;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll-down {
    0% {
    /* top:20%; */
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
    top: 90%;
        opacity: 0;
    }
}


/********************** Media Q **********************/

@media (max-width: 990px) {
    .wrapper .button .icon{
        display: inline-block;
        padding: 0 1.8rem 0 2.1rem;
        height: 60px;
        width: 60px;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 60px;
        transition: all 0.3s ease-out;
    }

    .scroll-down {
        left: 48%;
        bottom: 50px;
    }
}

@media (max-width: 760px) {

    .contenido {
        min-height: 600px;
    }

    .inicio .titulo p {
        font-size: 3.5rem;
    }
    
    .inicio .titulo h1{
        font-size: 4rem;
    }
}

@media (max-width: 570px) {
    .wrapper{
        display: none;
    }

    .titulo .redes-sociales{
        display: block;
    }
}

@media (max-width: 450px) {
    .contenido {
        min-height: 500px;
    }

    .inicio .titulo p {
        font-size: 3rem;
    }
    
    .inicio .titulo h1{
        font-size: 3.5rem;
    }
    .scroll-down {
        display: none;
    }

    .icons a{
        margin: 5rem 2rem;
    }
}
  
  /* Adaptabilidad y responsividad */
  @media screen and (max-width: 800px) {
    .testimonio-imagen {
      height: 120px;
      width: 120px;
    }
    .testimonio-texto {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 25px;
    }
    .overlay i {
      font-size: 45px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
  
  @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }
  
  @media screen and (min-width: 300px) {
    .sobre-mi .contenedor h2 {
      font-size: 2em;
      margin-bottom: 10px;
    }
  }
  /* En tu archivo SectionC.css */
@media (max-width: 570px) {
    .video-fondo {
        display: none;
    }
}
